<footer>
  <h4>Notre mission : accompagner les transformations</h4>
  <p>Spécialisé dans l’accompagnement des changements et des transformations, <a href="{{ site.baseurl }}">Le choix des couleurs</a> accompagne les organisations (vision, missions, valeurs), les équipes (teambuilding, formation, groupes d’analyse de pratique), et les personnes (coaching, formation). Ainsi ils pourront se rejoindre et donner le meilleur d’eux-mêmes, dans le respect de leur nature et de leurs ambitions respectives.</p>
  <ul>
    <li><a href="#">e-mail</a></li>
    <li><a href="#">linkedin</a></li>
    <li><a href="#">téléphone</a></li>
  </ul>
  <ul>
    <li><a href="#">Mentions légales</a></li>
    <li><a href="#">Évaluations annuelles</a></li>
  </ul>
</footer>
