<nav>
  <ul>
    {% assign menu = site.pages | sort:"order" %}
    {% for menu-item in menu %}
    {% if menu-item.navigation == "menu" %}
      <li {% if menu-item.url == page.url %} class="active" {% endif %}>
        <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
        <ul>
          {% assign submenu = site.pages | sort:"order" %}
          {% for submenu-item in submenu %}
          {% if submenu-item.category == menu-item.title %}
          <li>
            <a href="{{ submenu-item.url }}">{{ submenu-item.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
