// column
@function column($c-number, $c-total)
  @return $c-number / $c-total * 100vw



// Pick a color
@function color($number: random($random-colors-nth))
  @return map-get($random-colors, $number)



// trame
@function trame-item-size($horizontal-total, $screen-size: desktop)
  $trame-item-size: null
  $trame-item-total: $horizontal-total * 2 - 1
  $content-width: 100vw - $main-horizontal-padding * 2

  @if $screen-size == mobile
    $trame-item-size: $content-width / $trame-item-total

  @else
    $trame-item-size: calc((#{$content-width} - #{$menu-width}) / #{$trame-item-total})

  @return $trame-item-size


@function trame-images($horizontal, $vertical)
  $trame-item-image: null

  @for $vertical-item from 1 through $vertical

    @for $horizontal-item from 1 through $horizontal
      $trame-item-image: $trame-item-image radial-gradient(color() 65%, transparent 65% + $horizontal / 3)#{','}

  @return $trame-item-image


@function trame-positions($horizontal, $vertical, $screen-size: desktop)
  $trame-item-position: null

  @for $horizontal-item from 1 through $horizontal
    $position-left: $horizontal-item - 1
    $position-x: calc(#{$position-left} * #{trame-item-size($horizontal, $screen-size)} * 2)

    @for $vertical-item from 1 through $vertical
      $position-top: $vertical-item - 1
      $position-y: calc(#{$position-top} * #{trame-item-size($horizontal, $screen-size)} * 2)

      $trame-item-position: $trame-item-position $position-x $position-y#{','}

  @return $trame-item-position


@function trame-sizes($horizontal, $screen-size: desktop)
  $trame-item-width: null
  $trame-item-width: $trame-item-width trame-item-size($horizontal, $screen-size) trame-item-size($horizontal, $screen-size)

  @return $trame-item-width


@function trame-sizes-animation($item, $horizontal, $total, $screen-size: desktop)
  $trame-sizes-animation: null

  @for $i from 1 through $total
    @if $i > $item
      $trame-sizes-animation: $trame-sizes-animation 0 0#{','}

    @if $i <= $item - $total + 1
      $trame-sizes-animation: $trame-sizes-animation trame-sizes($horizontal, $screen-size)#{','}

    @if $i <= $item and not ($i <= $item - $total + 1)
      $steps: (1 / $total * ($item - $i + 1))
      $trame-sizes-animation: $trame-sizes-animation calc(#{trame-item-size($horizontal, $screen-size)} * #{$steps}) calc(#{trame-item-size($horizontal, $screen-size)} * #{$steps})#{','}

  @return $trame-sizes-animation
