// Color trame
@mixin color-trame($horizontal, $vertical, $screen-size: desktop)
  $total-trame: $horizontal * $vertical
  $total-keyframes: $horizontal * $vertical * 2 - 1

  @keyframes trame-animation-#{$total-trame}
    @for $item from 0 through $total-keyframes
      #{round(percentage($item / $total-keyframes))}
        background-size: trame-sizes-animation($item, $horizontal, $total-trame, $screen-size) 0 0

  &::before
    animation: trame-animation-#{$total-trame} 750ms cubic-bezier(.62,1.93,.63,.65) both 500ms
    background-image: trame-images($horizontal, $vertical) none
    background-origin: content-box
    background-position: trame-positions($horizontal, $vertical, $screen-size) 0 0
    background-repeat: no-repeat
    background-size: 0 0
    content: ''
    display: block
    height: calc(#{trame-item-size($horizontal, $screen-size)} * (#{$vertical} * 2 - 1))
    width: 100%


// Formation list
@mixin formations-list($color-number)
  background-color: color($color-number)
  transition: background-color 250ms, box-shadow 250ms ease

  &:hover
    background-color: darken(color($color-number), 15)
    box-shadow: 0 0 0 4px darken(color($color-number), 15)


// Grid list
@mixin grid-list($min)
  display: grid
  grid-gap: 1em
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr))
  list-style-type: none
  margin-top: 2em
  padding-left: 0

  li
    margin: 0


// Link list
@mixin link-list
  li
    border: solid 4px currentColor
    color: color(15)
    transition: box-shadow 250ms ease

    &:hover
      box-shadow: 0 0 0 4px currentColor

    a
      display: block
      padding: 1em 2em
