// column
@function column($c-number, $c-total)
  @return $c-number / $c-total * 100vw


// Pick a color
@function color($number: random($random-colors-nth))
  @return map-get($random-colors, $number)



// trame
@function trame-item-size($horizontal-total)
  $trame-item-total: $horizontal-total * 2 - 1
  $trame-item-size: calc(#{$main-content-width} / #{$trame-item-total})

  @return $trame-item-size


@function trame-images($horizontal, $vertical)
  $trame-item-image: null

  @for $vertical-item from 1 through $vertical

    @for $horizontal-item from 1 through $horizontal
      $trame-item-image: $trame-item-image radial-gradient(color() 65%, transparent 65% + $horizontal / 3)#{','}

  @return $trame-item-image


@function trame-positions($horizontal, $vertical)
  $trame-item-position: null

  @for $vertical-item from 1 through $vertical
    $position-y: calc((#{$vertical-item} - 1) * #{trame-item-size($horizontal)} * 2)

    @for $horizontal-item from 1 through $horizontal
      $position-x: calc((#{$horizontal-item} - 1) * #{trame-item-size($horizontal)} * 2)

      $trame-item-position: $trame-item-position $position-x $position-y#{','}

  @return $trame-item-position


@function trame-sizes($horizontal, $vertical)
  $trame-item-width: null

  @for $vertical-item from 1 through $vertical

    @for $horizontal-item from 1 through $horizontal
      $trame-item-width: $trame-item-width trame-item-size($horizontal) trame-item-size($horizontal)#{','}

  @return $trame-item-width
