#home
  header
    border-bottom: solid 1px $grey-light
    display: flex
    flex-direction: column

    h1, h2
      order: -1

    h1
      margin-top: 0

    h2
      max-width: 15em

    #scroll-down
      align-self: flex-start
      align-items: center
      background: none
      border: none
      color: $grey
      display: flex
      font: inherit
      font-size: $font-normal
      outline: inherit
      padding: 0
      margin: 2.5em 0

      &::before
        content: '↓'
        font-size: .9em
        margin-right: .5em
        transition: margin-right 200ms

      &:hover
        &::before
          margin-right: 1em
