#home
  header
    border-bottom: solid 1px $grey-light
    display: flex
    flex-direction: column

    h1, h2
      order: -1

    h1
      background: url('../images/logo-black.svg') 0 0 / contain no-repeat
      font-size: 0
      height: column(1 / (500 / 280),6)
      margin-bottom: 1.5rem
      min-height: 5.6rem
      min-width: 10rem
      width: column(1,6)

    h2
      max-width: 15em

    #scroll-down
      align-self: flex-start
      align-items: center
      background: radial-gradient(transparent 62%, currentColor 65%, transparent 68%) .6em .56em / 2.5em 2.5em no-repeat, transparent
      border: none
      color: $grey
      display: flex
      font: inherit
      font-size: $font-normal
      margin: 2.5em 0 2.5em -.5em
      outline: inherit
      padding: 1em
      text-indent: .5em
      transition: text-indent 250ms ease

      &::before
        border-bottom: solid 1px
        border-left: solid 1px
        content: ''
        height: .75em
        margin: auto 1em 0 -.2em
        transform: rotate(-45deg) translateY(-.35em)
        width: .75em

      &::after
        background-color: currentColor
        content: ''
        height: 1.25em
        margin: 0 0 0 .8em
        order: -1
        transition: height 250ms ease, margin 250ms ease
        width: 1px

      &:hover
        text-indent: 1em

        &::after
          height: 3em
          margin: -1em 0 -1em .8em
