body
  box-sizing: border-box
  margin: 0
  font-family: 'Raleway', Helvetica, Arial, sans-serif
  font-size: $font-normal
  font-weight: $regular
  line-height: 1.7

  @media screen and (min-width: $mobile-menu-mq + 1px)
    display: grid
    grid-template-columns: $menu-width auto

    nav
      grid-column: 1
      grid-row: 1 / 4
      position: sticky
      vertical-align: top

    header, main, footer
      grid-column: 2


nav
  background-color: $white
  height: 100vh
  top: 0
  width: $menu-width
  z-index: 9

  @media screen and (max-width: $mobile-menu-mq)
    left: -80vw
    position: fixed
    transition: left 300ms ease-in 150ms, box-shadow 300ms ease-in 150ms
    width: 80vw

    &:hover
      left: 0


header, main, footer
  padding: $section-vertical-padding $main-horizontal-padding

a
  color: inherit

h1, h2, h3, h4, h5, h6
  line-height: 1.1

h1
  font-size: $font-normal
  margin-bottom: 0

h2
  font-size: $font-extra-large
  margin-top: 0

h3
  border-top: solid 1px $grey-light
  font-size: $font-extra-large
  font-weight: $regular
  margin: $section-vertical-padding calc(-#{$main-horizontal-padding}) 0
  padding: $section-vertical-padding $main-horizontal-padding 0


main
  ul
    list-style-type: '• '
    padding-left: 1em

    li
      margin: .75em 0


#home, #contact
  header
    @include color-trame(10, 5)
    padding-bottom: 0

    @media screen and (max-width: 950px)
      @include color-trame(5, 5)
