body
  box-sizing: border-box
  display: table
  margin: 0
  font-family: 'Raleway', sans-serif
  font-size: $font-normal
  font-weight: $regular
  letter-spacing: -.01em
  line-height: 1.35

  > nav
    display: table-cell
    width: 20em

a
  color: inherit
