#references
  header
    padding-bottom: 0

  h2
    margin-bottom: 0

  main
    padding-top: 0

    > ul
      &:first-of-type
        @include grid-list(10em)

        li
          align-items: center
          display: flex

          img
            max-width: 100%

      &:last-of-type
        @include grid-list(14em)
        @include link-list

  #annual-assessments
    border: 0
    font-size: 0
    margin: 0
    padding: 0
