<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/images/favicon.svg" type="image/svg" rel="shortcut icon">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
  </head>
  <body id="{{ page.id }}">
    {% include nav.html %}
    <header onclick="/* iOS hack */">
      <h1>
        {{ site.title }}
        {% if page.category %} - {{ page.category }}{% endif %}
      </h1>
      <h2>{{ page.title }}</h2>
    </header>
    <main onclick="/* iOS hack */">
      {{ content }}
      {% include pre-footer.html %}
    </main>
    {% include footer.html %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
